<%= javascript_include_tag "createship" %>
<h1> Create a new ship </h1>
<%= render 'form' %>
<br>
<div id="newShip">
  <h2 id="shipMessage"></h3>
  <h3 id="shipName"></h3>
  <p id="shipSize"></p>
  <p id="shipCargo"></p>
  <p id="shipDistance"></p>
</div>
