<%= javascript_include_tag "showship" %>
<h1 id="shipName"> </h1>
<h3 id="summary"> </h3>
<ul>
  <li id="size"> Size: </li>
  <li id="maxCargo"> Maximum Cargo: </li>
  <li id="maxDistance"> Maximum Distance: </li>
</ul>
<h4> Voyages </h4>
<table id="voyages">
  <tr>
    <th> Departure Port </th>
    <th> Arrival Port </th>
    <th> Cargo </th>
    <th> Distance </th>
  </tr>
</table>
